.main-header {
    background-color: #ff6d29;
    height: 5vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-size: calc(10px + 1vmin);
    color: white;
    padding: 10px;
}

.main-header-link {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

